<section class="badge-section">
    <h2 class="badge-title">Achievements</h2>

    <div class="badge-grid">
        
        <!-- Tím -->
        <div class="badge badge-purple">
            <div class="badge-icon"><img src="../Assets/Images/Logos/kẻ phá cách_image.png"></div>
            <div class="badge-tooltip">
                <h4>“Không ngừng đổi mới và sáng tạo” - là danh ngôn của những kẻ không bao giờ biết đủ. Ngồi hàng giờ liền với một tư thế không đổi là một khí chất của kẻ nghiên cứu UI/ UX chuyên nghiệp. Để trở thành con người “trùm xỏ” này, con người này đã gieo mình vào biết bao những đêm thức muộn cho kịp deadline design</h4>
            </div>
        </div>

        <!-- Xanh lá -->
        <div class="badge badge-green">
            <div class="badge-icon"><img src="../Assets/Images/Logos/kẻ thực tập_image.png"></div>
            <div class="badge-tooltip">
                <h4>Để trở thành những chiến binh thực tập trong khối đại đoàn kết Uside, kẻ lữ hành đã trải qua quá trình học và được đào tạo qua hàng trăm bài code thiếu nhi và những dự án đầu đời</h4>
            </div>
        </div>

        <!-- Vàng -->
        <div class="badge badge-yellow">
            <div class="badge-icon"><img src="../Assets/Images/Logos/ông đồ thạo chữ_image.png"></div>
            <div class="badge-tooltip">
                <h4>Kẻ lữ hành này đã thông thạo xuất sắc 3 thứ tiếng khó hiểu đầu tiên trên con đường trở thành bá vương của phát triển phần mềm, web: HTML - CSS - JS. Kẻ chiến thần này đã vượt qua biết bao những bài tập trắc nghiệm gian nan trên trang web học tập của Ban Công Nghệ</h4>
            </div>
        </div>

    </div>
</section>