<header>
    <div class="wrapper shadow-premium">
        <a href="../index.html" class="logo second-color">Port<span class="primary-color">folio</span></a>
        <navbar>
            <a class="nav-item second-color" href="../index.html">Trang chủ</a>
            <a class="nav-item second-color" href="../Pages/community.html">Cộng đồng</a>
            <a class="nav-item second-color" href="../Pages/projectList.html">Các dự án</a>
        </navbar> 
        <div class="action-area">
            <div id="button-header"></div>
            <div class="avatar"></div>
        </div>
    </div>
</header>