<nav class="navbar">
    <ul class="nav-list">
        <li class="nav-item active">
            <a href="#" aria-label="Home">
                <div class="nav-content">
                    <span class="text">Trang Chủ</span>
                    <span class="icon"><i class="fa-house"></i></span>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" aria-label="Community">
                <div class="nav-content">
                    <span class="text">Cộng Đồng</span>
                    <span class="icon"><i class="fa-community"></i></span>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" aria-label="Projects">
                <div class="nav-content">
                    <span class="text">Các Dự Án</span>
                    <span class="icon"><i class="fa-projects"></i></span>
                </div>
            </a>
        </li>
    </ul>
</nav>
<script>
    const navList = document.querySelector(".nav-list");
    const navItems = document.querySelectorAll(".nav-item");

    navList.addEventListener('click', (e) => {
        const clickedItem = e.target.closest(".nav-item");
        if (!clickedItem) return;
        navItems.forEach(nav => nav.classList.remove('active'));
        clickedItem.classList.add('active');
    });
</script>