/* Variables */
@import './Variables/color.css';
@import './Variables/spacing.css';
@import './Variables/shadow.css';
@import './Variables/text.css';
@import './Variables/radius.css';

/* Component */
@import './Components/header.css';
@import './Components/button-header.css';
@import './Components/navComponent.css';
@import './Components/footer.css';
@import './Components/card-user.css';
@import './Components/badge.css';
@import './Components/breadcrumb.css';
/* @import './Components/project.css'; */


/* Pages style */
@import './Pages/community.css';
@import './Pages/projectList.css';
@import './Pages/user-details.css';

* {
    margin: 0;
    transition: all 0.3s ease;
    font-family: 'Inter', sans-serif;
}

body {
    /* background: #f8fafc; */
    background-image: var(--bg-mesh);
    margin: 0;
    color: var(--text-main);
    line-height: 1.5;
}   

/* ========== Avatar của người sử dụng ========== */
.avatar {
    background-image: url(../Images/Users/Avatars/Test_Avatar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

/* ========== Setting Page chung ========== */
.container {
    width: var(--mw-container);
    margin: 0 auto;
    box-sizing: border-box;
}
.wrap-page {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 30px;
}