.card-user {
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: var(--light-color);
    border: 1px solid var(--light-color-darker);
    box-shadow: var(--premium-shadow);
    text-align: center;
    align-content: center;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
}

.card-user:hover {
    box-shadow: var(--premium-shadow-hover);
    transform: translateY(-5px);
    .name-slot {
        color: var(--primary-color);
    }
}

.user-avatar {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
    margin: 0 auto;
}

.avatar-slot {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.name-slot, .stat-slot {
    color: var(--text-main);
}
