@import './button-header.css';

header {
    padding: 20px 160px 10px 160px;
    /* background-color: rgb(250, 250, 250); */
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    height: 80px;
    align-items: center;
    background-color: rgb(240, 246, 251);
}

.wrapper:hover {
    transform: scale(1.01);
}

.logo {
    font-size: 24px;
    text-decoration: none;
}

.nav-item {
    text-decoration: none;
    margin-right: 20px;
}

.nav-item:hover {
    color: var(--primary-color) !important;
    /* Không loại bỏ importance này vì nó có tác dụng để ấy màu cho hover!!!! */
}

.action-area {
    display: flex;
    gap: 20px;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(235, 235, 235);
}