:root {
    --primary-color: #1d83ff;
    --second-color: rgba(3, 3, 3, 0.913);
    --light-color: #fefefe;
    --light-color-darker: #f1f1f1;
    --primary-gradient: linear-gradient(to bottom right, #00c6ff, #0072ff);
    
    /* Nav-Header Component Color and Effect */
    --glass-bg: rgba(255, 255, 255, 0.05);
    --glass-border: rgba(255, 255, 255, 0.1);
    --glass-blur: 15px;
    --bg-gradient: linear-gradient(135deg, #0f0c29, #302b63, #24243e);

    --text-main: #ffffff;
    --text-muted: rgba(255, 255, 255, 0.6);
}

.primary-color {
    color: var(--primary-color);
}

.second-color {
    color: var(--second-color);
}