:root {
    --text-32: 32px;
    --text-20: 20px;
}

.tieuDe-32 {
    font-size: var(--text-32);
    width: fit-content;
}

.tieuDe-20 {
    font-size: var(--text-20);
    width: fit-content;
}

.center-text {
    margin: 0 auto;
}